<?xml version="1.0"?>
<launch>

    <arg name="NODE" default="Stereo" />
    <arg name="IMG_HEIGHT" default="720" />
    <arg name="IMG_WIDTH" default="2560" />
    <arg name="DEVNUM" default="0"/>
    <arg name="PATH_TO_VOCABULARY" default="$(find ORB_SLAM2)/../../../Vocabulary/ORBvoc.bin" />
    <arg name="PATH_TO_SETTINGS_FILE" default="$(find ORB_SLAM2)/../../../../../myStereo.yaml" />
    <arg name="ONLINE_RECTIFICATION" default="true" />

    <node pkg="pyaudio" type="node.py" name="audio" />
    <node pkg="pychecker" type="node.py" name="checker" />
    <node pkg="pyconnect" type="node.py" name="connect" />
    <node pkg="pypos" type="node.py" name="pos" />
    <node pkg="pysonder" type="node.py" name="sonder" args="--node $(arg NODE) --height $(arg IMG_HEIGHT) --width $(IMG_WIDTH) --deviceNum $(DEVNUM)" />
    <include file="$(find ORB_SLAM2)/orb.launch">
        <arg name="NODE" value="$(arg NODE)" />
        <arg name="PATH_TO_VOCABULARY" value="$(arg PATH_TO_VOCABULARY)" />
        <arg name="PATH_TO_SETTINGS_FILE" value="$(arg PATH_TO_SETTINGS_FILE)" />
        <arg name="ONLINE_RECTIFICATION" value="$(arg ONLINE_RECTIFICATION)" />
    </include>

</launch>
