<?xml version="1.0"?>
<launch>
    <arg name="NODE" default="Stereo" />
    <arg name="PATH_TO_VOCABULARY" default="../../../Vocabulary/ORBvoc.bin" />
    <arg name="PATH_TO_SETTINGS_FILE" default="../../../../../myStereo.yaml" />
    <arg name="ONLINE_RECTIFICATION" default="true" />

    <!--
    <node name="ORB_SLAM2" pkg="ORB_SLAM2" type="Stereo" output="screen" args="/home/ipluto/dev/src/ORB_SLAM2/Vocabulary/ORBvoc.bin /home/ipluto/dev/src/ORB_SLAM2/Examples/Stereo/EuRoC.yaml $(arg rect)">
    -->

    <node name="ORB_SLAM2" pkg="ORB_SLAM2" type="$(arg NODE)" output="screen" args="$(arg PATH_TO_VOCABULARY) $(arg PATH_TO_SETTINGS_FILE) $(arg ONLINE_RECTIFICATION)" launch-prefix="xterm -e"/>

</launch>
